@page "/"

<button @onclick="()=>OpenModal(new Movie(),false)" class="btn btn-danger">Movie Ekle</button>

			@if (Movies != null)
			{
				<table class="table">
					<thead>
						<tr>

							<th scope="col">Movie Name</th>
							<th scope="col">Movie Year</th>
							<th scope="col">Image</th>
							<th scope="col">Created</th
							

						</tr>
					</thead>
					<tbody>
						@foreach (var item in Movies)
						{
							<tr>

								<td @onclick="()=>OpenModal(item,true)"> @item.MovieName</td>
								<td>@item.MovieYear</td>
								<td>
									<img @onclick="()=>OpenImageModal(item,true)" class="movieBiggerImage" src="@item.CloudUrl">
								</td>
								<td>@item.Created</td>
						
								

							</tr>
						}

					</tbody>
				</table>
			}

