@inherits LayoutComponentBase
@using Blazored.LocalStorage

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (email!=null)
            {
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">@email</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {

    string email;
    [Inject]
    ILocalStorageService _localStorageService { get; set; }

    protected async override Task OnInitializedAsync()
    {
        email = await _localStorageService.GetItemAsync<string>("Email");

    }
}