@using AllProject.Shared.Dto;
@using Blazored.LocalStorage;
@using Blazored.Modal;
@using CurrieTechnologies.Razor.SweetAlert2;

<div class="form-group">
    <label for="exampleInputPassword1">Email Girinis</label>
    <input @bind="@userCode.Email" type="text" class="form-control" id="exampleInputPassword1" placeholder="Email Girinis">
</div>

<button @onclick="SendEmailPassword" class="btn btn-primary">Gonder</button>

@code {
    [Inject] protected UserService _userService { get; set; }
    [Inject] protected ILocalStorageService _localStorageService { get; set; }
    [CascadingParameter] BlazoredModalInstance _modal { get; set; }
    [Inject] protected SweetAlertService _alertMessage { get; set; }


    [Parameter] public EventCallback<bool> ModalCloseCallBack { get; set; }
    UserCodeCheck userCode = new();

    private async Task SendEmailPassword()
    {
        try
        {
            var result = await _userService.PasswordRemember(userCode);
            if (result)
            {
                await _modal.CloseAsync();
                await _alertMessage.FireAsync("Parolaniz belirtmis oldugunuz email adresine gonderildi.");

            }
            else
            {
                await _alertMessage.FireAsync("Sistem Email adresi bulunamadi.");
            }

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            await _alertMessage.FireAsync(e.Message);
        }
    }
}
